nav ul {
	list-style: none;
	margin: 15px;
	padding: 0;
	text-align: center;
	
}

nav ul li {
	display: inline;
	padding-top: 5%;
}

nav ul li a {
	text-decoration: none;
	margin: 5px 30px 3px 30px;
	font-weight: 300;
	text-transform: uppercase;
	color: $light;
	text-decoration: none;
}

nav {
	width: 100vw;
	height: 44px;
	background-color: transparent;
	position: fixed;
	color: $light;
	top: 0;
}

nav.hasBackground {
	background-color: $light;
	color: $dark-grey;
	

	a {
		color: $dark-grey;
	}
}


nav ul li a:active,
nav ul li a:hover {
	border-bottom: 4px solid $red;
	padding-bottom: 6px;
}