.software {
	margin-top: 20px;
	text-align: center;
	width: 100%;

	h2 {
		cursor:pointer;
	}
}

img {
	padding: 10px 40px;
}

.images{
	filter:grayscale(1);
	-webkit-filter:grayscale(1);	
}

.images:hover{
	filter:grayscale(0);
	-webkit-filter:grayscale(0);
	-webkit-transition: 0.2s ease;
}

