@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,100,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic,800,800italic);

* {
	font-family: 'Raleway', sans-serif;
}

h1 {
	color: $light;
	text-align: center;
	padding-top: 280px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 60px;
	display: block;
	margin: 0 auto;

}

h2 {
	color: $dark-grey;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 72px;
	margin: 0;
}

h3 {
	color: $light;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 700;
	font-size: 50px;
}

span {
	color: $red;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 36px;
}

.company-name {
	font-weight: 500;
	font-size: 20px;
	display: inline-block;
}

.company-date {
	font-weight: 300;
	font-size: 20px;
	color: $dark-grey;
	
}

.title {
	font-weight: 700;
	font-size: 18px;
	color: $dark-grey;
	font-style: italic;
}

p {
	color: $dark-grey;
	font-weight: 300;
	font-size: 14px;
}


