
@import '_normalize.scss';
@import '_colors.scss';
@import '_typo.scss';
@import '_header.scss';
@import '_home.scss';
@import '_naveffect.scss';
@import '_about.scss';
@import '_skillarea.scss';
@import '_softwaresection.scss';
@import '_company.scss';
@import '_portfolio.scss';